<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p class="media__description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam voluptas
      minus accusamus, esse, at accusantium enim rerum libero modi temporibus
      mollitia voluptatibus, alias id optio excepturi nesciunt deserunt
      repudiandae quisquam.
    </p>
  </div>
</div>
